:root {
    --container-max-width: 1200px;
    --white: #F4F4F4;
    --gray1: #272727;
    --black: #0F0F0F;
    --blackblack: #000000;
    --green: #095326;

    --grid-gap: 45px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    min-height: 100vh;
}

.section-row {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-row-content {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 2em;
}

.gray-background-row {
    color: var(--white);
    background-color: var(--gray1);
}

.white-background-row {
    color: var(--black);
    background-color: var(--white);
}

.main-container>.section-row:nth-last-child(2) {
    /* Make space for proper footer */
    flex-grow: 1;
}


body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    color: var(--green);
    font-family: 'Capsuula', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

figcaption {
    font-family: 'Capsuula', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

address {
    font-style: normal;
}

address a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
}

.header-image-container {
    display: block;
    width: 70%;
}

.header-image {
    display: block;
    width: 100%;
    height: 5rem;
}

.main-menu {
    font-size: 1.4rem;
    display: block;
    width: 15%;
}

.main-menu-list {
    list-style-type: none;

    display: none;
    position: absolute;
    left: 0;
    top: 9rem;
    width: 100%;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: var(--black);
    opacity: 0.9;
    overflow: auto;
}

.main-menu-mobile-open {
    display: block;
}

.main-menu-list li {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.main-menu a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-image-container {
        width: 33%;
    }

    .header-image {
        display: block;
        width: 100%;
        height: auto;
    }

    .main-menu {
        width: auto;
    }

    .main-menu-list {
        display: block;

        position: initial;
        left: unset;
        top: unset;
        width: 100%;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;

        background-color: unset;
        opacity: 1;
    }

    .main-menu-list li {
        display: inline-block;
        padding-left: 2rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    #menubutton {
        display: none;
    }

}

.landing-page-layout-with-image-container {
    display: flex;

    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    gap: 36px;
    flex-direction: column;
}

@media (min-width: 992px) {
    .landing-page-layout-with-image-container {
        flex-direction: row;
    }

    .section-row:nth-of-type(odd) .landing-page-layout-with-image-container {
        flex-direction: row-reverse;
    }

    .landing-page-layout-with-image-container>div {
        max-width: 50%;
    }

    .logo-background .section-row-content .landing-page-layout-with-image-container {
        flex-direction: row;

    }
}

.section-row:nth-of-type(even) {
    background-color: var(--gray1);
    color: var(--white);
}

.section-row:nth-of-type(even) h3,
.section-row:nth-of-type(even) h2 {
    color: var(--white);
}

.landing-page-layout-with-image-container h3 {
    font-size: x-large;
    text-transform: uppercase;
}

.image-grid-container {
    display: grid;
    grid-template-areas:
        "A B"
        "A  C";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 51% 1fr;
    gap: 12px;
}


.image-grid-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    object-fit: contain;
}


footer {
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--white);
    background-color: var(--green);
}

footer a {
    color: var(--white);
    text-decoration: none;
}


.footer-container {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer-image {
    display: block;
    width: 25%;
}

.footer-container>* {
    text-align: start;
    width: 100%
}

.footer-middle-section {
    font-style: normal;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
    }

    .footer-container>* {
        width: 33%
    }

    .footer-middle-section {
        text-align: center;
    }

    .footer-right-section {
        text-align: end;
    }

}

.action-button {
    background: linear-gradient(90deg, #095326 0%, #1A9049 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;

    color: var(--white);
    display: inline-block;
    padding: 0.7rem 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.9s;
}

.action-button:after {
    content: '';
    opacity: 0;
    transition: 0.5s;
}

.action-button:hover {
    padding-right: 16px;
}

.action-button:hover:after {
    content: '→';
    display: inline-block;
    padding-left: 8px;
    opacity: 1;
}

.logo-background {
    background-position: right;
    background-repeat: no-repeat;
}


.landing-page-projects-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.landing-page-project {
    width: 100%;
    display: block;
    text-decoration: none;
}

.landing-page-projects-tile {
    aspect-ratio: 858/655;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-projects-tile-df {
    background-image: url('/images/projekt_df.png');
}

.landing-page-projects-tile-df:hover {
    background: linear-gradient(rgba(39, 39, 39, 0.45),
            rgba(39, 39, 39, 0.45)), url('/images/projekt_df.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.landing-page-projects-tile-esk {
    background-image: url('/images/projekt_lesnica_park.png');
}

.landing-page-projects-tile-esk:hover {
    background: linear-gradient(rgba(39, 39, 39, 0.45),
            rgba(39, 39, 39, 0.45)), url('/images/projekt_lesnica_park.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}



@media (min-width: 768px) {
    .landing-page-projects-container {
        flex-direction: row;
    }

    .landing-page-project {
        width: 49%;

    }
}

.doclist-section {
    min-height: 100vh;
}

.doclist-container {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    gap: var(--grid-gap);
}


.doclist-item {
    width: 100%;
    display: block;
    text-decoration: none;
    border-radius: 20px;

    color: var(---blackblack);
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.doclist-item h4 {
    margin-top: 0;
    margin-bottom: 0.1rem;
    font-weight: 400;
}


@media (min-width: 768px) {
    .doclist-item {
        width: 24%;
    }
}


.contact-form-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contact-form-cell {
    width: 100%;
}

.contact-form-cell label {
    display: block;
    width: 100%;
    padding-bottom: 0.4rem;
}

.contact-form-cell input[type=text],
.contact-form-cell input[type=email],
.contact-form-cell textarea {
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
}

.contact-form-agreement-container {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
}

.contact-form-submit-row button {
    width: 100%;

    background: linear-gradient(90deg, #095326 0%, #1A9049 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;

    color: var(--white);
    display: inline-block;
    padding: 0.7rem 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.9s;
}

.contact-form-submit-row button:hover {
    cursor: pointer;
}

@media (min-width: 768px) {

    .contact-form-container {
        flex-direction: row;
    }

    .contact-form-cell-half-width {
        width: 48%;
    }

    .contact-form-submit-row {
        text-align: end;
    }

    .contact-form-submit-row button {
        width: 48%;
    }

}

.section-row-full-height {
    flex-grow: 1;
}