{{/* Clean up classes for sections  */}}
<div class="landing-page-layout-with-image-container" id='{{ partial "news_entry_id.html" . }}'>

    {{/* Make this more configurable  */}}
    <div class='news-image-container-{{ .Param "image_container" }}'>
        {{ with $image := .Resources.Get "A" }}
        {{ with $processed_image := .Process "webp"}}
        <img src="{{ $processed_image.RelPermalink }}" width="{{ $processed_image.Width }}"
            height="{{ $processed_image.Height }}" alt="{{ $image.Title }}">
        {{ end }}
        {{ end }}
    </div>

    <div class="news-text-container">
        <h2>{{ .Title }}</h2>
        <em class="news-publish-date">Data publikacji: {{ .PublishDate | time.Format ":date_short" }}
            {{ .PublishDate | time.Format ":time_short" }}</em>
        {{ .Content }}

        {{ if isset .Params "ctaurl" }}
        <a href="{{ .Params.ctaurl }}" role="button" tabindex="0" class="action-button">{{ .Params.ctamessage }}</a>
        {{ end }}
    </div>

</div>
