:root {
    --container-max-width: 1200px;
    --white: #F4F4F4;
    --gray1: #272727;
    --black: #0F0F0F;
    --blackblack: #000000;
    --green: #095326;

    --grid-gap: 45px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    min-height: 100vh;
}

.section-row {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-row-content {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 2em;
}

.gray-background-row {
    color: var(--white);
    background-color: var(--gray1);
}

.white-background-row {
    color: var(--black);
    background-color: var(--white);
}

.main-container>.section-row:nth-last-child(2) {
    /* Make space for proper footer */
    flex-grow: 1;
}


body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    color: var(--green);
    font-family: 'Capsuula', sans-serif;
    font-weight: 400;
}

figcaption {
    font-family: 'Capsuula', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

footer {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--white);
    background-color: var(--green);
}

footer>div {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 2em;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container>.header-image {
    height: 3em;
}

.header-container>.header-text-content {
    padding-left: 2ex;
}

.landing-page-layout-with-image-container {
    display: flex;

    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    gap: 36px;
    flex-direction: column;
}

@media (min-width: 992px) {
    .landing-page-layout-with-image-container {
        flex-direction: row;
    }

    .section-row:nth-of-type(odd) .landing-page-layout-with-image-container {
        flex-direction: row-reverse;
    }

    .landing-page-layout-with-image-container>div {
        max-width: 50%;
    }

    .logo-background .section-row-content .landing-page-layout-with-image-container {
        flex-direction: row;

    }
}

.section-row:nth-of-type(even) {
    background-color: var(--gray1);
    color: var(--white);
}

.section-row:nth-of-type(even) h3,
.section-row:nth-of-type(even) h2 {
    color: var(--white);
}

.landing-page-layout-with-image-container h3 {
    font-size: x-large;
    text-transform: uppercase;
}

.image-grid-container {
    display: grid;
    grid-template-areas:
        "A B"
        "A  C";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 51% 1fr;
    gap: 12px;
}


.image-grid-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    object-fit: contain;
}


.landing-page-projects-container {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.landing-page-projects-container figure {
    width: 100%;
    margin: 0;
}

.landing-page-projects-container img {
    width: 100%;
    border-radius: 20px;
}

.landing-page-projects-container figcaption {
    padding-top: 12px;
    text-transform: uppercase;

}

@media (min-width: 768px) {
    .landing-page-projects-container {
        flex-direction: row;
    }

    .landing-page-projects-container figure {
        width: 48%;
    }

    .landing-page-projects-container figcaption {
        padding-top: 32px;

    }
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-container>.footer-image {
    height: 3em;
}

.action-button {
    background: linear-gradient(90deg, #095326 0%, #1A9049 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;

    color: var(--white);
    display: inline-block;
    padding: 0.7rem 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.9s;
}

.action-button:after {
    content: '';
    opacity: 0;
    transition: 0.5s;
}

.action-button:hover {
    padding-right: 16px;
}

.action-button:hover:after {
    content: '→';
    display: inline-block;
    padding-left: 8px;
    opacity: 1;
}

.logo-background {
    background-position: right;
    background-repeat: no-repeat;
}