:root {
    --container-max-width: 1200px;
    --white: #F4F4F4;
    --gray1: #272727;
    --black: #0F0F0F;
    --blackblack: #000000;
    --green: #095326;

    --grid-gap: 45px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    min-height: 100vh;
}

.section-row {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.section-row-content {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 2em;
}

.gray-background-row {
    color: var(--white);
    background-color: var(--gray1);
}

.white-background-row {
    color: var(--black);
    background-color: var(--white);
}

.main-container>.section-row:nth-last-child(2) {
    /* Make space for proper footer */
    flex-grow: 1;
}


body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    color: var(--green);
    font-family: 'Capsuula', sans-serif;
    font-weight: 400;
}

figcaption {
    font-family: 'Capsuula', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

footer {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--white);
    background-color: var(--green);
}

footer>div {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 2em;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container>.header-image {
    height: 3em;
}

.header-container>.header-text-content {
    padding-left: 2ex;
}

.landing-page-layout-with-image-container {
    display: flex;

    flex-wrap: nowrap;

    justify-content: space-around;
    align-items: center;
}

.landing-page-layout-with-image-container.image-on-left {
    flex-direction: row;
}

.landing-page-layout-with-image-container.image-on-right {
    flex-direction: row-reverse;
}


.landing-page-layout-with-image-container img {
    max-width: 360px;
}

.landing-page-layout-with-image-container div {
    max-width: 50%;
}

.landing-page-projects-container {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}

.landing-page-projects-container img {
    max-height: 360px;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-container>.footer-image {
    height: 3em;
}

@media (max-width: 1000px) {
    .landing-page-layout-with-image-container {

        flex-wrap: wrap;

    }
}
