<footer>
    <div class="section-row-content">
        <div class="footer-container">
            {{ $image := resources.Get "images/GILDIA_LOGO_MONO_WHITE.svg" }}
            {{ with $image }}
            <img src="{{ .RelPermalink }}" class="footer-image" alt="Gildia organizatorów logo - białe">
            {{ end }}
            <address class="footer-middle-section">
                Stowarzyszenie Gildia Organizatorów<br />
                ul. Kościańska 51/6, 54-027 Wrocław<br />
                NIP 894 316 81 83<br />
                KRS 0001041417</address>
            <p class="footer-right-section">Jesteś zainteresowany współpracą z nami?<br /><strong>Napisz do
                    nas!</strong><br /><a href="mailto:gildiaorganizatorow@gmail.com">gildiaorganizatorow@gmail.com</a>
            </p>
        </div>
    </div>
</footer>