<header class="section-row gray-background-row">
    <div class="section-row-content">
        <div class="header-container">
            {{ $image := resources.Get "images/GILDIA_LOGO_COLOR_WHITE_TEXT.svg" }}
            {{ with $image }}
            <a href="/" class="header-image-container">
                <img src="{{ .RelPermalink }}" class="header-image" alt="Gildia organizatorów logo">
            </a>
            {{ end }}

            <nav class="main-menu">
                <ul role="menu" aria-label="Naqigacja strony">
                    <li>
                        <a href='{{ "about-us" | relURL }}' role="menuitem">O nas</a>
                    </li>
                    <li>
                        <a href='{{ "portfolio" | relURL }}' role="menuitem">Portfolio</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</header>