<header class="section-row gray-background-row">
    <div class="section-row-content">
        <div class="header-container">
            {{ $image := resources.Get "images/GILDIA_LOGO_COLOR_WHITE_TEXT.svg" }}
            {{ with $image }}
            <a href="/" class="header-image-container">
                <img src="{{ .RelPermalink }}" class="header-image" alt="Gildia organizatorów logo">
            </a>
            {{ end }}

            <nav class="main-menu">
                <a id="menubutton" onclick="toggleMobileMenu();" aria-haspopup="true" aria-controls="menu">
                    <img src="/images/hamburger.svg" alt="Menu" />
                </a>
                <ul id="menu" class="main-menu-list" role="menu" aria-label="Naqigacja strony"
                    aria-labelledby="menubutton">
                    <li role="presentation">
                        <a href='{{ "o-nas" | relURL }}' role="menuitem">O nas</a>
                    </li>
                    <li role="presentation">
                        <a href='{{ "portfolio" | relURL }}' role="menuitem">Portfolio</a>
                    </li>
                    <li role="presentation">
                        <a href='{{ "dokumenty" | relURL }}' role="menuitem">Dokumenty</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</header>