<div class="landing-page-layout-with-image-container">

    <div class="image-grid-container">
        {{ $image := .Resources.GetMatch "A" }}
        {{ with $image }}
        <img src="{{ .RelPermalink }}" style="grid-area: A">
        {{ end }}
        {{ $image := .Resources.GetMatch "B" }}
        {{ with $image }}
        <img src="{{ .RelPermalink }}" style="grid-area: B">
        {{ end }}
        {{ $image := .Resources.GetMatch "C" }}
        {{ with $image }}
        <img src="{{ .RelPermalink }}" style="grid-area: C">
        {{ end }}
    </div>

    <div>
        {{ .Content }}
        {{ if isset .Params "ctaurl" }}
        <a href="{{ .Params.ctaurl }}" role="button" tabindex="0" class="action-button">{{ .Params.ctamessage }}</a>
        {{ end }}
    </div>

</div>