{{ define "main" }}

{{ $image := resources.Get "images/background-logo.svg" }}

{{ range where site.RegularPages "Type" "landing" }}
{{ with $image }}
<section class="section-row white-background-row logo-background" style="background-image: url('{{ .RelPermalink }}');">
    {{ end }}
    <div class="section-row-content">
        {{ partial "landing-page-main-section.html" . }}
    </div>
</section>
{{ end }}

<section class="section-row gray-background-row">
    <div class="section-row-content">
        <h2>Nasze realizacje:</h2>

        <div class="landing-page-projects-container">
            <a href='{{ "portfolio" | relURL }}' role="button" tabindex="0" class="landing-page-project">
                <div class="landing-page-projects-tile landing-page-projects-tile-df">
                    <span class="action-button">Zobacz więcej</span>
                </div>
                <div>
                    <h2>Dni Fantastyki</h2>
                </div>
            </a>

            <a href='{{ "portfolio" | relURL }}' role="button" tabindex="0" class="landing-page-project">
                <div class="landing-page-projects-tile landing-page-projects-tile-esk">
                    <span class="action-button">Zobacz więcej</span>
                </div>
                <div>
                    <h2>Park ESK w Leśnicy</h2>
                </div>
            </a>

        </div>

    </div>
</section>

{{ end }}