{{ define "main" }}

{{ $image := resources.Get "images/background-logo.svg" }}

{{ range where site.RegularPages "Type" "landing" }}
{{ with $image }}
<section class="section-row white-background-row logo-background" style="background-image: url('{{ .RelPermalink }}');">
    {{ end }}
    <div class="section-row-content">
        {{ partial "landing-page-main-section.html" . }}
    </div>
</section>
{{ end }}

<section class="section-row gray-background-row">
    <div class="section-row-content">
        <h2>Nasze realizacje:</h2>

        <swiper-container pagination="true" navigation="true" pagination-clickable="true" speed="500" rewind="true"
            autoplay-delay="2000" autoplay-pause-on-mouse-enter="true" autoplay="true" centered-slides="true"
            space-between="30">
            <swiper-slide>
                {{ with .GetPage "portfolio/zlote_kurczaki" }}
                {{ partial "landing-page-single-realization.html" . }}
                {{ end }}
            </swiper-slide>
            <swiper-slide>
                {{ with .GetPage "portfolio/kongres" }}
                {{ partial "landing-page-single-realization.html" . }}
                {{ end }}
            </swiper-slide>
            <swiper-slide>
                {{ with .GetPage "portfolio/df" }}
                {{ partial "landing-page-single-realization.html" . }}
                {{ end }}
            </swiper-slide>
            <swiper-slide>
                {{ with .GetPage "portfolio/esk" }}
                {{ partial "landing-page-single-realization.html" . }}
                {{ end }}
            </swiper-slide>
        </swiper-container>

    </div>
</section>

{{ end }}
